[Desktop Entry]
Type=Application
Version=1.0
StartupNotify=true
Name=Device Tree Detective
Exec=device_tree_detective
Icon=device_tree_detective
Terminal=false
Categories=Development
